<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" (click)="onSidenavClose()">
      <mat-icon>dashboard</mat-icon><span class="nav-caption">Dashboard</span>
  </a>
  <a mat-list-item routerLink="/chat" (click)="onSidenavClose()">
      <mat-icon>forum</mat-icon><span class="nav-caption">Chat</span>
  </a>
  <a mat-list-item routerLink="/teams" (click)="onSidenavClose()">
      <mat-icon>group_work</mat-icon><span class="nav-caption">Teams</span>
  </a>
  <a mat-list-item routerLink="/eggdonation" (click)="onSidenavClose()">
      <mat-icon>science</mat-icon><span class="nav-caption">RSMC Egg Donation</span>
  </a>
</mat-nav-list>